:root {
  --gradient0: hsl(0, 100%, 90%);
  --gradient1: hsl(40, 100%, 90%);
  --gradient2: hsl(80, 100%, 90%);
  --gradient3: hsl(120, 100%, 90%);
  --gradient4: hsl(160, 100%, 90%);
  --gradient5: hsl(200, 100%, 90%);
  --gradient6: hsl(240, 100%, 90%);
  --gradient7: hsl(280, 100%, 90%);
  --gradient8: hsl(320, 100%, 90%);
  --gradient9: hsl(360, 100%, 90%);
  --background: hsl(0,0%,5%);
}

.main-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: black;
}

.logo {
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.logo-font {
  position:absolute;
  z-index: 2;
  font-size: 8rem;
  font-weight: 700;
  /* background: linear-gradient(to right, #e66465, #9198e5); */
  /* background: linear-gradient(to right, red, orange , yellow, green, blue, purple); */
  background: linear-gradient(to right, var(--gradient0), var(--gradient1), var(--gradient2), var(--gradient3), var(--gradient4), var(--gradient5), var(--gradient6), var(--gradient7), var(--gradient8), var(--gradient9));
  color: transparent;
  -webkit-background-clip: text;
}

.logo-stroke {
  position: absolute;
  font-size: 8rem;
  font-weight: 700;
}

.logo-fill{
  
}

.letter {

  padding-left: 0.25em;
  padding-right: 0.25em;
}

.bar {
  margin-top: 2em;
  margin-bottom: 2em;
  width: 83em;
  height: 0.25em;
  /* background: linear-gradient(to right, #e66465, #9198e5); */
  background: linear-gradient(to right, var(--gradient0), var(--gradient1), var(--gradient2), var(--gradient3), var(--gradient4), var(--gradient5), var(--gradient6), var(--gradient7), var(--gradient8), var(--gradient9));
}

.greeting {
  height: 30%;
}

.greeting-font {
  font-family: sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
  color: grey;
}

.btn0{
  display: flex;
  overflow: hidden;
  align-items: flex-end;
  height:0.5em;
}

.mask{

}

/* color */
.str0 {
  color: var(--background);
  text-shadow: -1px -1px 0 var(--gradient0), 1px -1px 0 var(--gradient0), -1px 1px 0 var(--gradient0), 1px 1px 0 var(--gradient0);
}

.str1 {
  color: var(--background);
  text-shadow: -1px -1px 0 var(--gradient1), 1px -1px 0 var(--gradient1), -1px 1px 0 var(--gradient1), 1px 1px 0 var(--gradient1);
}

.str2 {
  color: var(--background);
  text-shadow: -1px -1px 0 var(--gradient2), 1px -1px 0 var(--gradient2), -1px 1px 0 var(--gradient2), 1px 1px 0 var(--gradient2);
}

.str3 {
  color: var(--background);
  text-shadow: -1px -1px 0 var(--gradient3), 1px -1px 0 var(--gradient3), -1px 1px 0 var(--gradient3), 1px 1px 0 var(--gradient3);
}

.str4 {
  color: var(--background);
  text-shadow: -1px -1px 0 var(--gradient4), 1px -1px 0 var(--gradient4), -1px 1px 0 var(--gradient4), 1px 1px 0 var(--gradient4);
}

.str5 {
  color: var(--background);
  text-shadow: -1px -1px 0 var(--gradient5), 1px -1px 0 var(--gradient5), -1px 1px 0 var(--gradient5), 1px 1px 0 var(--gradient5);
}

.str6 {
  color: var(--background);
  text-shadow: -1px -1px 0 var(--gradient6), 1px -1px 0 var(--gradient6), -1px 1px 0 var(--gradient6), 1px 1px 0 var(--gradient6);
}

.str7 {
  color: var(--background);
  text-shadow: -1px -1px 0 var(--gradient7), 1px -1px 0 var(--gradient7), -1px 1px 0 var(--gradient7), 1px 1px 0 var(--gradient7);
}

.str8 {
  color: var(--background);
  text-shadow: -1px -1px 0 var(--gradient8), 1px -1px 0 var(--gradient8), -1px 1px 0 var(--gradient8), 1px 1px 0 var(--gradient8);
}

.str9 {
  color: var(--background);
  text-shadow: -1px -1px 0 var(--gradient9), 1px -1px 0 var(--gradient9), -1px 1px 0 var(--gradient9), 1px 1px 0 var(--gradient9);
}
