/* Written by DesignDefined */
@font-face {
  font-family: 'Chosunilbo_myungjo';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/Chosunilbo_myungjo.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@400;700;800&display=swap');

:root {
  --classic-blue: rgba(15, 76, 129, 1.0);
  --classic-blue-05: rgba(15, 76, 129, 0.5);
  --classic-blue-07: rgba(15, 76, 129, 0.7);

}


html {
  font-family: 'Chosunilbo_myungjo', serif;
}

.dimension {
  width: 100%;
}

.ground {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: black;
}

.floor {
  width: 100%;
  max-width: 1080px;
  margin-top: 80px;
  margin-bottom: 80px;
}

.section_0 {
  grid-area: section_0;
}

.section_1 {
  grid-area: section_1;
}

.section_2 {
  grid-area: section_2;
}

.section_3 {
  grid-area: section_3;
}

.section_4 {
  grid-area: section_4;
}

.news-module-main_1 {
  display: grid;
  grid-template-columns: minmax(0, 1fr) 243px;
  grid-gap: 36px;
  grid-template-areas:
    "section_0 section_0"
    "section_1 section_2"
    "section_3 section_3";
}

.news-module-main_2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 36px;
  grid-template-areas:
    "section_0 section_0"
    "section_1 section_2"
    "section_3 section_3";
}

.room-title {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.room-title h2 {
  font-weight: bolder;
  font-size: 2em;
  margin-bottom: 1em
}

.room-slide {
  display: flex;
  text-align: center;
}

.news-module-main_1 .room-slide div {
  margin-left: 16px;
  margin-right: 16px;
}

.news-module-main_2 .room-slide div {
  margin-left: 12px;
  margin-right: 12px;
}

.image-slot img {
  width: 100%;
}

.news-element-headline .image-text-slot {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  text-align: right;
  color: grey;
}

.news-element-headline .title-slot {
  margin-top: 1em;
  margin-bottom: 1em;
}

.news-element-headline .title-slot h2 {
  text-align: center;
  font-size: 2em;
  font-weight: bolder;
}

.news-element-headline .summary-slot {
  text-align: center;
  font-size: 1.25em;
  line-height: 1.6;
}

.news-element-image-title-summary .title-slot {
  margin-top: 1em;
  margin-bottom: 1em;
}

.news-element-image-title-summary .title-slot h3 {
  font-size: 1.5em;
  font-weight: bold;
}

.news-element-image-title-summary .summary-slot {
  line-height: 1.6;
  margin-bottom: 2em;
}

.news-module-rank_1 {
  display: flex;
  flex-direction: column;
}

.news-element-rank {
  display: flex;
  padding-top: 10px;
  padding-bottom: 10px;
  border-top: solid 1px lightblue;
}

.news-element-rank .rank-number {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2em;
  font-size: 2em;
  color: var(--classic-blue-07);
}

.news-element-rank .rank-text {
  display: flex;
  align-items: center;
  font-size: 1.5em;
  color: grey;
}

.news-module-horizontal_1 {
  max-width: 1440px;
}

.room-poster {
  display: flex;
  justify-content: center;
  align-items: center;
}

.news-element-poster {
  width: 20%;
  margin-left: 4px;
  margin-right: 4px;
}

.news-element-poster img {
  max-width: 300px;
  width: 100%;
}

/* Navigator */
.navigator {
  position: fixed;
  display: grid;
  grid-template-columns: 1fr 1fr 2fr 1fr 1fr;
  justify-content: center;
  width: 100%;
  background-color: white;
  color: var(--classic-blue);
  border-bottom: solid 2px var(--classic-blue);
  z-index: 2;
  transition: 0.5s ease;
  height: 240px;
}

.navigator-small {
  height: 50px;
}

.navigator-logo-image {
  display: flex;
  justify-content: center;
  perspective: 500px;
  background-color: transparent;
  overflow: hidden;
}

.navigator-small .navigator-logo-image {
  display: none;
}

.navigator-logo-image img {
  height: 90%;
  transition: 0.2s;
}

.navigator-logo-text {
  display:none;
}

.navigator-small .navigator-logo-text{
  display:flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.navigator-logo-text h2 {
  font-family: 'Nanum Myeongjo', serif;
  font-size: 2em;
  font-weight: bolder;
}

.navigator-menu-tap {
  width: 100%;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transition: 0.5s ease;
  padding-top: 160px;
}

.navigator-big .navigator-menu-tap {
  height: 240px;
  padding-top: 160px;
}

.navigator-small .navigator-menu-tap {
  height: 50px;
  padding-top: 0px;
}

.navigator-menu-tap h3 {
  font-size: 1.3em;
  font-weight: bold;
}

.navigator-current {
  background-color: var(--classic-blue);
  color: white;
  text-decoration: underline;
}

.select-effect {
  position: absolute;
  top: 100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, var(--classic-blue-05) 0%, rgba(0, 0, 0, 0) 90%);
  z-index: 2;
  transition: 0.5s;
}

.navigator-selected .select-effect {
  top: 0%;
}

.navigator-space {
  height: 160px;
}

.layout-colored .ground {
  background-color: rgba(255, 0, 0, 0.5);
}

.layout-colored .floor {
  background-color: rgba(0, 255, 0, 0.5);
}

.layout-colored .room {
  background-color: rgba(0, 0, 255, 0.5);
}
